$thumbnail-height-limit: 9em;
$thumbnail-width-limit: 8em;

.card-component {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 8rem;
  max-width: fit-content;
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-top {
  position: relative;
  height: 70%;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.card-button {
  position: absolute;
  right: 0;
  top: 0;
}
