$thumbnail-height-limit: 12em;
$thumbnail-width-limit: 8em;

.carousel-thumbnail {
  max-width: 80px;
  max-height: 40px;
}
.carousel-photo {
  max-width: 200px;
  max-height: 100px;
}
.expandedPhoto {
  width: 100%;
  height: 100%;
}