$thumbnail-height-limit: 12em;
$thumbnail-width-limit: 8em;

.carousel-thumbnail {
  max-width: 80px;
  max-height: 40px;
}
.highlighted {
  opacity: .5;
}
.carousel-photo {
  max-width: 200px;
  max-height: 100px;
}
.expandedPhoto {
  width: 100%;
  height: 100%;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.currentSlide {
  opacity: 1;
  transition-duration: 1s;
}
.expandedModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
.expandedCarousel {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.zoomed-in {
  transform: scale(2.5);
}
.expandedIcon {
 color: pink;
 position: relative;
}
.right-arrow-expanded {
  position: relative;
  color: pink;
}
.left-arrow-expanded {
  position: relative;
  color: pink;
}