// https://colorhunt.co/palette/213455

@keyframes addOutfitAnimation {
  0% {
    background-color: #f8efd4;
    border: 1px solid transparent;
  }
  50% {
    background-color: #ffe799;
    border: 1px solid #132743;
  }
  0% {
    background-color: #f8efd4;
    border: 1px solid transparent;
  }
}


.add-outfit{
  &-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    max-height: 99%;
    width: 7rem;
    box-shadow:  -5px 0px 10px 4px #7e7e7e;
    background-color: #f8efd4;
    &:hover {
      animation-name: addOutfitAnimation;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      cursor: pointer;
    }

  }

  &-detail {
    font-weight: 100;
    font-size: 0.7em;
    white-space: nowrap;
  }
}


