

.add-outfit{
  &-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    max-height: 99%;
    width: 7rem;
  }

  &-detail {
    font-weight: 100;
    font-size: 0.7em;
    white-space: nowrap;
  }
}


