// https://colorhunt.co/palette/213455
@use 'rootStyles' as color;

@keyframes addOutfitAnimation {
  0% {
    background-color: color.$lightSpanishPink;
    border: 0.2px solid transparent;
  }
  50% {
    background-color: #ffe799;
    border: 0.2px solid color.$mediumArtichoke;
  }
  0% {
    background-color: color.$lightSpanishPink;
    border: 0.2px solid transparent;
  }
}


.add-outfit{
  &-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 0.2px solid transparent;
    max-height: 99%;
    width: 7rem;
    box-shadow: inset -4px -1px 15px 0px color.$lightMistyRose;
    background-color: color.$lightSpanishPink;
    &:hover {
      animation-name: addOutfitAnimation;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      cursor: pointer;
    }

  }

  &-detail {
    font-weight: 100;
    font-size: 0.7em;
    white-space: nowrap;
  }
}


