.crossed-out-price {
  text-decoration: line-through;
  color: red;
}
.product-info-rating {
  max-height: 20px;
  max-width: 100px;
}
.share-icon-list {
  width: 100%;
  display: flex;
  gap: 5px;
}
.product-info-container {
  height: 40%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.product-info-category {
  height:fit-content;
  font-size: 32px;

}
.product-info-name {
  font-size: 32px;
}
.price-container {
  display: flex;
  gap: 10px;
}
.price {
  font-size: 22px;;
}
.description-and-features-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
}
.line-container {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  background-color: currentColor;
  height: 100px;
  width: 5px;
}
.product-description {
  padding-left: 5%;
  line-height: 30px;
  width: 63%;
  font-size: 0.7rem;
}
.features {
  line-height: 1.1rem;
  width: 37%;
}

.product-feature {
  font-size: 0.7rem;
}