
.fade-in {
  display: block;
}

.fade-out {
  display: none;
}

#related-items-and-outfits-component {
  display: flex;
  flex-direction: column;
}

#comparing-position {
  display: relative;
}

.comparing-container {
  position: absolute;
  background-color: white;
  bottom: 3%;
  left: 50%;
}
