$thumbnail-height-limit: 9em;
$thumbnail-width-limit: 8em;

.card-component {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.related-item-image {
  max-width: $thumbnail-width-limit;
  max-height: $thumbnail-height-limit;
}
