$background: white;

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.5px;
}

body {
  background-color: $background;
}

.horizontal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 8rem));
  grid-auto-flow: column;
  grid-gap: 10px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
  height: 40%;
  max-height: 290px;
  position: relative;
  &:first-of-type {
    margin-bottom: 30px;
  }
}

.col-center {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}
