$background: aliceblue;

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
}

body {
  background-color: $background;
}

.horizontal-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 1em;
  overflow-x: hidden;
  width: 70vw;
  margin-bottom: 50px;
  min-height: 11rem;
  max-height: auto;
}

.col-center {
  display: flex;
  justify-content: center;
}
