@use 'rootStyles' as color;

.stars {
  &-container {
    height: fit-content;
    width: fit-content;
    position: relative;
  }
  &-top {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    & span {
      font-size: 0.6rem;
    }
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    overflow: hidden;
    & span {
      font-size: 0.6rem;
      color: color.$mediumSandyBrown;
    }
  }
}