
@use 'rootStyles' as color;

.style-selector-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  & p {
    line-height: 30px;
    display: block;
    margin-bottom: 2px;
  }
}
.styleThumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover
}
.overlay {
  position: absolute;
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
  height: 60px;
  width: 60px;

}
.styleListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.selectedStyleContainer {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.four-thumb {
  gap:15px;
}