.styleThumbnail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover
}
.overlay {
  position: absolute;
  color: pink;
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
  height: 60px;
  width: 60px;

}
.styleListContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.selectedStyleContainer {
  position: relative;
  display: inline-block;
  width: fit-content;

}